.App {
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 800;
}

h2 {
  font-size: 2em;
  font-weight: 800;
}

.searchbar {
  width: 80%;
  line-height: 2;
  margin: 2em;
}

.add-form {
  margin: 0 2em 2em;
}